<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置解析 https://www.w3cschool.cn/mybatis/7zy61ilv.html -->
    <settings>
        <!-- 正式发布后注销 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- 正式发布后取消注释 -->
        <!--        <setting name="logImpl" value="LOG4J"/>-->
        <!--设置启用数据库字段下划线映射到java对象的驼峰式命名属性，默认为false-->
        <!--        <setting name="mapUnderscoreToCamelCase" value="false"/>-->
        <!-- 全局映射器启用缓存 -->
        <setting name="cacheEnabled" value="true"/>
        <!--使用jdbc的getGeneratedKeys获取数据库自增主键值-->
        <!--        <setting name="useGeneratedKeys" value="true"/>-->
        <!--使用列别名替换列名字 默认true-->
        <!--        <setting name="useColumnLabel" value="true"/>-->
    </settings>

    <!-- 批量管理实体类（pojo）别名 -->
    <typeAliases>
        <package name="xhmy.cloud.pojo"/>
    </typeAliases>
    <!-- 加载映射mapper
    https://blog.csdn.net/hzj1998/article/details/102960866#12_mappers_392-->
    <mappers>
        <!--        <package name="xhmy.cloud.dao"/>-->
        <mapper resource="xhmy.cloud.dao.mapper.*.xml"/>
        <!--        而是直接写sql注解-->
        <!--        <mapper class="xhmy.cloud.dao**" /> -->
    </mappers>
</configuration>